body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	background: #f2fbff;
}

h2 {
	font-size: 48px;
}

.celcius {
	font-size: 14px;
	vertical-align: super;
}

.heading {
	align-self: center;
	font-weight: bold;
}

.location {
	font-size: 32px;
}

i {
	font-size: 60px;
	margin-top: 10px;
}

img {
	max-width: 100%;
	filter: drop-shadow(3px 3px 8px rgba(255, 255, 255, 0.384));
}

li {
	list-style-type: none;
}

footer {
	text-align: center;
	font-size: 12px;
}

ul i {
	font-size: 25px;
	margin-left: 5px;
}

.btn {
	border: none;
}

.full-page h1 {
	font-size: 30px;
}

.full-page {
	background: linear-gradient(rgba(149, 205, 236, 0.4), #f2fbff);
	border-radius: 20px;
	box-shadow: -1px -1px 9px rgba(0, 0, 0, 0.1);
}

header {
	background: #f2fbff;
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	padding: 10px 0;
}

.overview-bg {
	padding: 10px 0 2px 8px;
}

#forecast-toggle {
	margin-bottom: 20px;
}

.full-forecast {
	align-self: center;
}

.full-forecast button {
	font-size: 20px;
}

.temp-high {
	background: rgba(236, 149, 149, 0.4);
	border-radius: 14px;
	padding: 15px;
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.temp-low {
	background: rgba(149, 205, 236, 0.4);
	border-radius: 14px;
	padding: 15px;
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.current-temp {
	padding: 20px;
}

.daily {
	background: rgba(149, 205, 236, 0.4);
	border-radius: 14px;
	padding: 15px;
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.city-overview {
	background: #a3a3a361;
	border-radius: 10px;
	padding-top: 15px;
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-top: 10px;
}

header i {
	font-size: 15px;
}

@media only screen and (max-width: 480px) {
}
