body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	background: #1b1a1d !important;
}

.overview-weather h2 {
	font-size: 48px;
}

.celcius {
	font-size: 14px;
	vertical-align: super;
}

i {
	font-size: 60px;
	margin-top: 10px;
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}

footer {
	text-align: center;
}

ul i {
	font-size: 25px;
	margin-left: 5px;
}

.full-page {
	border-radius: 20px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	background: #f0f5ff;
}
.full-page h1 {
	font-size: 30px;
}

.overview-container {
	border-radius: 10px;
	background: #bcd8ec;
}

.overview-bg {
	border-bottom: 1px solid rgb(4, 14, 57);
	background: rgba(0, 0, 0, 0.2);
	padding: 15px 15px 0px 15px;
	border-radius: 10px;
}

.full-forecast {
	padding: 30px;
}

.temp-high {
	background: rgba(153, 59, 59, 0.786);
	padding: 15px 20px;
	border-radius: 25px;
}

.temp-low {
	background: rgba(28, 77, 155, 0.575);
	padding: 15px 20px;
	border-radius: 25px;
}

.current-temp {
	padding: 20px;
}

#date {
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 10px 20px;
	border-radius: 10px;
}

header i {
	font-size: 20px;
}

@media only screen and (max-width: 480px) {
}
