body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
}

.overview-weather h2 {
	font-size: 48px;
}

.celcius {
	font-size: 14px;
	vertical-align: super;
}

i {
	font-size: 60px;
	margin-top: 10px;
}

img {
	max-width: 100%;
}

li {
	list-style-type: none;
}

footer {
	text-align: center;
}

ul i {
	font-size: 25px;
	margin-left: 5px;
}

.full-page {
	border-radius: 20px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
}
.full-page h1 {
	font-size: 30px;
}

.overview-container {
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.3);
	box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(9.5px);
	-webkit-backdrop-filter: blur(9.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.overview-bg {
	padding: 15px 15px 10px 15px;
	border-radius: 10px;
	background: #e6e6e67c;
	backdrop-filter: blur(10px);
}

.full-forecast {
	padding: 30px;
}

.temp-high {
	background: rgba(236, 149, 149, 0.4);
	border-radius: 14px;
	padding: 15px;
}

.temp-low {
	background: rgba(149, 205, 236, 0.4);
	border-radius: 14px;
	padding: 15px;
}

.current-temp {
	padding: 20px;
}

.daily {
	background: rgba(149, 205, 236, 0.4);
	border-radius: 14px;
	padding: 15px;
}

.city-overview {
	background: #e6e6e67c;
	border-radius: 10px;
	padding-top: 15px;
}

#date {
	font-weight: bold;
	font-size: larger;
	align-self: center;
}

header i {
	font-size: 15px;
}

@media only screen and (max-width: 480px) {
}
